
%h2.signup.centered Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .col-xs-12.col-lg-12.signup1

    .col-xs-6.col-lg-offset-3.col-lg-2
      %div.name
        = f.label :full_name, "Name"
        %br
        = f.text_field :full_name, autofocus: true
      %div.address
        = f.label :address
        %br
        = f.text_field :address, autofocus: true
      %div.city
        = f.label :city
        %br
        = f.text_field :city, autofocus: true
      %div.state
        = f.label :state
        %br
        = f.text_field :state, autofocus: true
      %div.zip
        = f.label :zip, "Zip Code"
        %br
        = f.text_field :zip, autofocus: true
      %br
    .col-xs-6.col-lg-offset-1.col-lg-4
      %div.organization_name
        = f.label :organization_name, "Organization (if applicable)"
        %br
        = f.text_field :organization_name, autofocus: true
      %div.phone_number
        = f.label :phone_number, "Phone Number"
        %br
        = f.text_field :phone_number, autofocus: true
      %div.email
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true
      %div.password
        = f.label :password
        - if @validatable
          %i
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "off"
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off"
        %br
        %br
      %div.roles
        = f.label :roles, "Are you a Supporter or Volunteer Organization?"
        %br
      / %div.role1
      /   = f.radio_button :role, "admin"
      /   = f.label :role, "Admin"
      /   %br
      %div.role2
        = f.radio_button :role, "supporter"
        = f.label :role, "Supporter"
        %br
      %div.role3
        = f.radio_button :role, "volunteer_organization"
        = f.label :role, "Volunteer Organization"
        %br
        %br
      %div 
        = f.submit "Sign up" 
        = render "devise/shared/links"
        %br
        %br
        %br
