= form_for @grocer do |f|
  %br/
  %br/
  = f.label :name
  = f.text_field :name
  %br/
  = f.label :address 
  = f.text_field :address
  %br/
  = f.label :city
  = f.text_field :city
  %br/
  = f.label :state
  = f.text_field :state
  %br/
  = f.label :zip
  = f.text_field :zip
  %br
  %br/
  = f.submit
  %br
  %br
  = link_to "Back", root_path
