%br
  = grocer.name
  %br
  = grocer.address
  %br
  = grocer.city
  %br
  = grocer.state
  %br
  = grocer.zip
  = button_to "My Store", grocer_path(grocer), class: "button.btn.btn-theme1.btn-lg.my_store", method: :put
  %br
