%li
  = grocer.name
  %br
  = grocer.address
  %br
  = grocer.city
  %br
  = grocer.state
  %br
  = grocer.zip
  %br
  %br
  = link_to "My Store", grocer_path(grocer), class: ".button.btn.btn-theme1.btn-lg.my_store", method: :put
