%br
%h1.centered
  #{@grocer.name}
.col-lg-12-col-xs-12.signup
  .col-xs-6.col-lg-offset-3.col-lg-2
    / = need_list, no longer using this because I want to redirect the user to the organization their store is connected to.  I will be creating a needs form to be displayed on the volunteer_organization page.
    / %div.name
    /   #{@grocer.address}
    /   %br
    /   #{@grocer.city}
    /   %br
    /   #{@grocer.state}
    /   %br
    /   #{@grocer.zip} 