/ %br
/ %h1.centered
/   #{@grocer.name}
/ .col-lg-12-col-xs-12.signup
/   .col-xs-6.col-lg-offset-3.col-lg-2
/     %div.name
/       #{@grocer.address}
/       %br
/       #{@grocer.city}
/       %br
/       #{@grocer.state}
/       %br
/       #{@grocer.zip} 